[data-testid="stSidebar"] {
    background-image: url(https://github.com/euclideands/dashboard_remosto/blob/main/Transparent_Horizontal.png?raw=true);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 19px 33px;
    margin-bottom: 25px;
}

/* Title */
/* div.st-emotion-cache-k7vsyb{
    background-color: aqua;
} */
